# Numbers

In [6]:
a = 10

In [7]:
b = 20

In [8]:
a + b

30

In [9]:
type(a)

int

In [10]:
c = 45.6

In [11]:
d = 78.9

In [12]:
c+d

124.5

In [13]:
type(c+d)

float

In [14]:
type(a+d)

float

In [17]:
abs(-9)

9

In [18]:
abs(9)

9

# Strings

In [5]:
some_string = "itm fcs "

In [37]:
some_string[:2]

['The quick brown fox jumps over the lazy dog']

# Write a program with string slicing and dicing, in which the string, The quick brown fox jumps over the lazy dog is printed from 5 point to last forth point with every 3rd consecutive letter

In [3]:
some_string = "The quick brown fox jumps over the lazy dog"

In [4]:
some_string[4:-4:3]

'qcbwf m et z'

# Concatenate

In [6]:
s = " Hello Everyone"

In [9]:
s = s + "how are you all"

In [10]:
s

' Hello Everyonehow are you all how are you all'

In [13]:
s.isupper()

False

In [14]:
s.upper()

' HELLO EVERYONEHOW ARE YOU ALL HOW ARE YOU ALL'

In [16]:
s.index('h')

15

In [22]:
s.capitalize()

' hello everyonehow are you all how are you all'

In [23]:
s.lower()

' hello everyonehow are you all how are you all'

# Lists

* Creating List
* Indexing  
* 
*

In [1]:
my_list = [1,2,3,4,5,6,7]

In [7]:
my_wierd_list = ["Hey How Are You ", 1 ," AM ", 5, "EN", 12.3,[1,2,3], {"key":"Value"}]

In [8]:
my_wierd_list[0]

'Hey How Are You '

In [9]:
my_wierd_list[-1]

{'key': 'Value'}

In [10]:
my_wierd_list[-2]

[1, 2, 3]

In [11]:
len(my_wierd_list)

8

# Slicing of the list

In [21]:
my_list = ['one','two','three','four']

In [22]:
my_list[0]

'one'

In [23]:
my_list[:3]

['one', 'two', 'three']

In [24]:
my_list + ['one','two','three']

['one', 'two', 'three', 'four', 'one', 'two', 'three']

In [26]:
my_list = my_list + [1,2,3,4,5]

In [27]:
my_list

['one', 'two', 'three', 'four', 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [28]:
my_list = [1,2,3,4,5,6,7,8,9]

In [29]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
my_list *2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
my_list *1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# basic methods in list

In [33]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
print(my_list.reverse())

None

In [40]:
my_list

['a', 'a', 'a', 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
my_list.append("kavi")

In [42]:
my_list

['a', 'a', 'a', 9, 8, 7, 6, 5, 4, 3, 2, 1, 'kavi']

In [43]:
my_list.reverse()

In [44]:
my_list

['kavi', 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'a', 'a']

In [45]:
my_list.insert(2,'Nis')

In [46]:
my_list

['kavi', 1, 'Nis', 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'a', 'a']

# Dictionary

In [49]:
my_dict ={'key1':'value1','key2':'value2'}

In [50]:
my_dict['key2']

'value2'

In [55]:
my_dict ={'key1':'value1','key2':402,'key3':[1,2,3,'d'],'key4':{'inner_key1':1}}

In [54]:
my_dict['key2']

402

In [57]:
my_dict['key3']

[1, 2, 3, 'd']

In [58]:
my_dict['key4']

{'inner_key1': 1}

In [60]:
my_dict['key4']['inner_key1']

1

In [61]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [62]:
my_dict.values()

dict_values(['value1', 402, [1, 2, 3, 'd'], {'inner_key1': 1}])

In [63]:
my_dict.fromkeys('key1','key2')

{'k': 'key2', 'e': 'key2', 'y': 'key2', '1': 'key2'}

In [64]:
my_dict

{'key1': 'value1',
 'key2': 402,
 'key3': [1, 2, 3, 'd'],
 'key4': {'inner_key1': 1}}

In [73]:
keys = {'a','b','c','d'}

value = {'kavi',1,2,3}

my_new_dict = dict.fromkeys(keys,value)
print(my_new_dict)

{'b': {1, 2, 3, 'kavi'}, 'a': {1, 2, 3, 'kavi'}, 'd': {1, 2, 3, 'kavi'}, 'c': {1, 2, 3, 'kavi'}}

# Tuples

In [70]:
tup = (1,2,3,4,5,6,7,8)

In [71]:
tup.count(1)

1

In [74]:
tup.index(5)

4

# set & Booleans

In [75]:
x=set()

In [76]:
x.add(1)

In [77]:
x

{1}

In [78]:
x.add(2)

In [79]:
x

{1, 2}

In [80]:
y=x.copy()

In [83]:
y

{1, 2, 3}

In [85]:
x.issubset(x)

True

In [86]:
x.issubset(y)

True

In [87]:
x.add(4)

In [88]:
x

{1, 2, 4}

In [90]:
x.add(4)

In [91]:
x.issubset({1,2,3,4})

True

In [94]:
y.difference(x)

{3}

# Boolean

In [97]:
True == False

False

In [98]:
True == False

False

In [99]:
1 == -1

False

In [100]:
15 == 3*5

True

In [102]:
15 != 2*5

True